<nav class="workload-segmented-nav plan-binding-view-nav" aria-label="Вид привязки учебных планов">
  <a
    class="{% if request.endpoint == 'workload.plan_bindings' %}is-active{% endif %}"
    href="{{ url_for('workload.plan_bindings', version_id=selected_version.id if selected_version else none) }}"
  >Назначение планов</a>
  <a
    class="{% if request.endpoint == 'workload.plan_bindings_matrix' %}is-active{% endif %}"
    href="{{ url_for('workload.plan_bindings_matrix', version_id=selected_version.id if selected_version else none) }}"
  >Свод по классам</a>
</nav>
