<div class="sp-viewbar school-plan-section-nav">
  <div class="sp-tabs">
    <a class="sp-tab {% if active_view == 'list' %}is-active{% endif %}" href="{{ url_for('school_plan.index') }}"><i class="bi bi-list-ul"></i>План</a>
    <a class="sp-tab {% if active_view == 'month' %}is-active{% endif %}" href="{{ url_for('school_plan.month_view') }}"><i class="bi bi-calendar3"></i>Календарь</a>
    {% if can_manage_editors %}<a class="sp-tab {% if active_view == 'editors' %}is-active{% endif %}" href="{{ url_for('school_plan.editors') }}"><i class="bi bi-person-gear"></i>Ответственные</a>{% endif %}
  </div>
  {% if active_view != 'editors' %}<div class="sp-export-actions">
    <a class="btn btn-outline-success btn-sm" href="{{ url_for('school_plan.export_xlsx', **current_args) }}" title="Excel"><i class="bi bi-file-earmark-excel"></i></a>
    <a class="btn btn-outline-danger btn-sm" href="{{ url_for('school_plan.export_pdf', **current_args) }}" title="PDF"><i class="bi bi-file-earmark-pdf"></i></a>
    <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('school_plan.print_view_export', **current_args) }}" target="_blank" title="Печать"><i class="bi bi-printer"></i></a>
  </div>{% endif %}
</div>
