{% extends "layout.html" %}
{% block content %}
<h4 class="mb-3">Добавить пользователя</h4>

<div class="card">
  <div class="card-body">
    <form method="post" style="max-width:520px;">
<div class="mb-2">
  <label class="form-label">Фамилия</label>
  <input class="form-control" name="last_name" required>
</div>

<div class="mb-2">
  <label class="form-label">Имя</label>
  <input class="form-control" name="first_name" required>
</div>    
<div class="mb-2">
  <label class="form-label">Телефон</label>
  <input class="form-control" name="phone" value="{{ u.phone or '' }}" placeholder="+7...">
</div> 
 <div class="mb-2">
        <label class="form-label">Логин</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-2">
        <label class="form-label">Пароль</label>
        <input class="form-control" name="password" type="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Роль</label>
        <select class="form-select" name="role">
          {% for r in roles %}
          <option value="{{r}}">{{r}}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-primary">Создать</button>
      <a class="btn btn-outline-secondary" href="/admin/users">Отмена</a>
    </form>
  </div>
</div>
{% endblock %}
